---
//BUILD TIME
import ShameOnYou from "../components/ShameOnYou.astro";
import Main from "../layouts/Main.astro";
---

<Main title="About Us">
  <ShameOnYou />
  <h2>ABOUT US SIDEN</h2>
  <blockquote>
    <p>
      Altså jeg var der ikke, men tror jeg har mest brug for at se hvordan man
      starter et projekt op og hvordan man kommer i gang med Astro. Så det
      visuelle.
    </p>
  </blockquote>
  <blockquote>
    <p>
      Tror også vi har brug for et eksempel på hvordan astro kan kobles på vores
      opgave
    </p>
  </blockquote>
  <blockquote>
    <p>
      Jeg kunne godt tænke mig en gennemgang af sti-logikken i astro-filerne.
      Hvorfor blot "/" for index? Hvorfor skal der ikke en fuld sti til, når man
      vil linke til img (hvordan véd den automatisk, at den skal lede i public?)
    </p>
  </blockquote>
</Main>
