---
//BUILD TIME
import Topic from "../components/Topic.astro";
import Main from "../layouts/Main.astro";
---

<Main title="Ting vi skal nå">
  <h1>Ting vi skal nå</h1>
  <ul>
    <li>
      <Topic
        header="Components"
        description="byggeklodser i Astro og lignende"
      />
    </li>
    <li><Topic header="Slots" description="sprækker til indhold?" /></li>
    <li>
      <Topic
        header="Props"
        description="vores egne attributter der kan samles op"
      />
    </li>
    <li>
      <Topic
        header="pages"
        description="duh? det er jo bare sider med venlige URL'er"
      />
    </li>
  </ul>
</Main>
