<h1>Semantiske tags</h1>

<pre>
    article
    h1
    h2
    a
    img
    strong
</pre>

<h2>Ikke-semantiske tags</h2>
<pre>
    div
    span
</pre>

<h2>GAMLE og DEPRECATED tags</h2>
<pre>
b
font
marquee
blink
i
hr
</pre>
