---
import Footer from "../components/Footer.astro";
import "../styles/main.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pokemon">Pokemon</a></li>
        <li><a href="aboutus">about us</a></li>
      </ul>
    </nav>
    <h1>{title}</h1>
    <slot />
    <Footer />
  </body>
</html>

<style>
  ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
</style>
